
<html>
    <head>
        <title>Simple form</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
                {{ form.date_.label }} {{ form.date_ }}
                <br>
                {{ form.salary_.label }} {{ form.salary_ }}
                <br>
                {{ form.fave_food.label }} {{ form.fave_food }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </body>
</html>